*{box-sizing: border-box;}
.title{
text-align: center;
}
.text{
    padding-bottom: 3%;
}
.box{
    border: solid 5px;

}
.box2{
    border: solid 5px;

}
.box_p{
    text-align: center;
    font-size: 2em;
    color:blue;
}
